.overlays text {
  font-family: "Helvetica, Arial, sans-serif", serif;
  fill: #949DA5;
  font-size: 16px;
}
.places rect {
  fill: #CCCCCC; fill-rule: nonzero;
}
.places .booking {
  fill: #E99999;
}
.places .sell {
  fill: #AEAEAE;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.main {
  flex: 1 1 auto;
  position: relative;
  margin: 0 auto;
}

.toolbarWrapper {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toolbarBottom {
  flex: 0 0 auto;
  border-radius: 2px;
  background: white;
}

.tool {
  padding: 4px;
  height: 30px;
  width: 30px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: block;
  color: gray;
}
